name: "HCL AppScan SAST"
on:
  workflow_dispatch
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run AppScan SAST scan
        uses: HCL-TECH-SOFTWARE/appscan-sast-action@v1.0.7
        with:
          asoc_key: ${{secrets.APPSCAN_KEY}}
          asoc_secret: ${{secrets.APPSCAN_SECRET}}
          application_id: ${{secrets.APPSCAN_APP_ID}}
